__pycache__/
*.py[cod]
*$py.class

*.log

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# vs code
.vscode/

# macOS
.DS_Store

# Dataset and wav files
# _data/
# *.wav
# *.mp3
# *.aac
# *.flac

# test files
test/

# python files
visualizer.py

# ignore audio seed file
Code/_data/Example_raw_dataset/seed_files/

# Ignore data for grad cam since file is too large for github
Grad_Cam/_data/

#
Literatur/
